.element_labels, .element_values {
  float: left;
}

.element_labels > div, .element_values > div {
  min-height: 40px;
}

.element_values {
  margin-left: 15px;
  color: #333333;
}

.element_information {
  position: relative; 
  overflow: auto;
  margin-bottom: 5px;
}

.element_labels > div {
  color: #9E5F55;
  font-weight: bold;
}

.price_value {
	color: green;
}
