#main_menu, #user_menu {
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
  overflow: auto;
  width: 46%;
}

#user_menu {
  margin-bottom: 25px;
}

#main_menu ul, #user_menu ul {
  list-style: none outside none;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#main_menu li, #user_menu li {
  list-style: none outside none;
  float: left;
  margin-right: 10px;
}

#content {
  width: 80%;
  margin: 0 auto;
}