#main_menu {
  margin: 0 auto;
  position: relative;
  overflow: auto;
  width: 42%;
}

#main_menu ul {
  list-style: none outside none;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#main_menu li {
  float: left;
  margin-right: 10px;
}

#content {
}