#portfolio_list {
  position: relative;
}

.portfolio {  
  position: relative;
  overflow: auto;
  margin-bottom: 30px;
}

.portfolio > div {
}

.portfolio_image, .portfolio_inf {
	float: left;
}

.portfolio_inf {
	margin-left: 25px;
}

.portfolio_name {
  font-size: 20pt;
}

.portfolio_description {
  font-size: 12pt;
  color: #555555;
  margin-bottom: 10px;
}