#appartment {
  position: relative;
  overflow: auto;
  margin-left: 15px;
}

.room_name {
  color: #444444;
  font-size: 10pt;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  border: 1px solid #777777;
  background: white;
  padding: 2px;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}

.room_name:hover {
  text-decoration: underline;
}

#right_top_room_block, #right_bottom_room_block {
  position: relative;
  overflow: auto;
}

#livingroom {
	background: url(/images/rooms/livingroom.png) center no-repeat;
	width: 387px;
	height: 180px;
}

#bedroom {
  background: url(/images/rooms/bedroom.png) center no-repeat;
  width: 302px;
  height: 152px;
}

#childroom {
  background: url(/images/rooms/childroom.png) center no-repeat;
  width: 301px;
  height: 138px;
}

#bathroom {
  background: url(/images/rooms/bathroom.png) center no-repeat;
  width: 165px;
  height: 141px;
}

#hall {
  background: url(/images/rooms/hall.png) center no-repeat;
  width: 145px;
  height: 378px;
}

#kitchen {
  background: url(/images/rooms/kitchen.png) center no-repeat;
  width: 150px;
  height: 255px;
}

.room_block {
  border: 2px solid #cecece;
  overflow: hidden;
}

.room {
  border: 1px solid #aaaaaa;
  position: relative;
}

.room:hover {
  border-color: #555555;
  cursor: pointer;
}
